.generated_quiz-results {
    display: flex;
    flex-direction: row;
}

.generated_quiz-result {
    padding: 0rem 0.2rem;
}

.results-btn {
    width: 100%;
    height: 100%;
}

.quiz-btn {
    margin-top: 1rem;
}
