.frame1 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #fffebf;
    z-index: 2;
}
.frame2 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #ff8efb;
    z-index: 2;
}
.frame3 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #8ed2ff;
    z-index: 2;
}
.frame4 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #8effa0;
    z-index: 200;
}
